---
---
@charset "utf-8";

$base-font-family:  "Source Sans Pro",sans-serif;
$base-font-size:    24px;
$base-line-height:  1.5;
$max-text-cover:    120rem;
$link-hover:        rgba(210, 23, 23, 0.7);
$spacing-unit:      1.5em;
$blue:              #ccddf3; //#adc9ea;
$yellow:            #f7f099;
$green:             #d8f3cb;
$red:               #ffdddd;

$think-odd-color:   #ffeecc;
$think-even-color:  #ffdddd;

$body-bg-color:     #f2f2f2;
$nav-bg-color:      $green;
$link_color:        #d21717;
$link_focus_color:  #E40000;
$topic-bg-color:    white;
$topic-index-bg-color: $red;
$footer-bg-color:   $blue;

// The hamburger icons is rigged with a dirty bit of hard-width 
// and shameful z-index bodging too so it overlaps with the
// grid layout a bit. Might be better ways of doing this.
$hamburger-width:   4rem; 

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "normalize",
  "layout",
  "responsive",
  "syntax-highlighting"
;
