<aside class="main-header">
  <header class="module">
    <h1><a href="/"><img src="{{ site.baseurl }}/images/compsci-superbasics.png"></a></h1>
  </header>
  <div class="module color2">
    {{ site.description }}
  </div>
  <nav class="module color4">
    <ul>
      <li>
        <a href="{{ site.baseurl }}/" class="start-link">Start here</a>
      </li>
      {% for topic in site.topics | sort: "order" %}
        <li>
          <a href="{{ topic.url | prepend:site.baseurl }}">{{ topic.topic | replace: '-',' ' | capitalize }}</a>
        </li>
      {% endfor %} 
    </ul>
  </nav>
  <div class="module color3">
    Work-in-Progress!
  </div>
</aside>
