body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  background-color: $body-bg-color;
}
.header-and-content{
  max-width: $max-text-cover;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.25s ease-in, background 0.25s ease-in;
  -moz-transition: color 0.25s ease-in, background 0.25s ease-in;
  -o-transition: color 0.25s ease-in, background 0.25s ease-in;
  transition: color 0.25s ease-in, background 0.25s ease-in
}
p {
  line-height: $base-line-height;
}
.block {
  margin: $spacing-unit;
  padding: $spacing-unit;
  position: relative;
  overflow: hidden;
  border-radius: 0.3em;
  img {
    max-width: 100%;
    height: auto;
  }
}

.main-content, footer {
  a {
    color: $link-color;
    &:hover,
    &:focus {
      color: $link-focus-color;
    }
  }
}

.main-content {
  width: 65%;
  float:left;
  .block {
    margin-left: 0;
  }
}
.main-header {
  width: 35%;
  float: left;
  line-height: 1.7;
}

nav.block {
  background-color: $nav-bg-color;
}
.block.topic {
  background-color: $topic-bg-color;
}
.block.topic-index {
  background-color: $topic-index-bg-color;
}
.block.prev-next-nav {
  background-color: $nav-bg-color;
  position: relative;
  padding:1rem;
}
.block.description {
  background-color: $yellow;
}
h1.block {
  background-color: $blue;
  text-align: center;
  font-size:100%;
  a {
    color: #000;
    font-weight: normal;
    &:hover,
    &:focus {
      color: #000;
    }
  }
}
footer {
  clear: both;
  .block {
    text-align:center;
    background-color: $footer-bg-color;
  }
}

.thinks ul {
  list-style: none;
  margin:0;
  padding:0;
  li {
    margin: 1em;
    padding:1em;
    background-color: $think-even-color;
    &:nth-child(odd){ background-color: $think-odd-color};
    border-radius:0.3em;
  }
}

/*****************************************************************************/
/*
/* Navigation
/*
/*****************************************************************************/

#hamburger, #hamburger-input { display: none; }

nav, .topic-nav {
  ul {
    list-style: none;
    margin:0;
    padding:0;
    li {
      display:inline-block;
      margin:0.2em;
      padding:0;
      a {
        margin:0em;
        padding: 0.4em;
        background: #fff;
        float:left;
        border-radius: 0.2em;
        box-shadow: 0.1em 0.2em 0.2em #00000066;
        &:hover {
          background: $link-hover;
          border: 0;
          color: #fff !important;
        }
        &.start-link {
          background-color: #993333;
          color: white;
          &:hover {
            background-color: red;
          }
        }
      }
    }
  }
  .module {
    padding-top: $spacing-unit;
  }
}
a.prev, a.next {
  transition:background-color 0s;
  line-height:1.7;
  margin:0em;
  padding: 0.4em;
  background: #fff;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.2em 0.2em #00000066;
  margin-bottom: 1rem;
  -webkit-transition: color 0.25s ease-in, background 0.25s ease-in;
  -moz-transition: color 0.25s ease-in, background 0.25s ease-in;
  -o-transition: color 0.25s ease-in, background 0.25s ease-in;
  transition: color 0.25s ease-in, background 0.25s ease-in;
  &:hover {
    background: $link-hover;
    border: 0;
    color: #fff;
  }
}
a.prev {
  float: left;
  &::before{
    display:inline-block;
    vertical-align:middle;
    width:3rem;
    margin-left:-0.5rem;
    content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3Cpolygon stroke-width='5' points='60,10 10,40 60,70 50,40 60,10 ' strokeWidth='5' strokecolor='none' fill='%23FF0000' edge='76' orient='x' sides='3' shape='regularPoly' cy='0' cx='0'/%3E%3C/svg%3E");
  }
  &:hover::before{
    // better to change fill with CSS variable... but this works :-|
    content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3Cpolygon stroke-width='5' points='60,10 10,40 60,70 50,40 60,10 ' strokeWidth='5' strokecolor='none' fill='%23FFFFFF' edge='76' orient='x' sides='3' shape='regularPoly' cy='0' cx='0'/%3E%3C/svg%3E");
  }
}
a.next {
  float: right;
  &::after{
    display:inline-block;
    vertical-align:middle;
    width:3rem;
    margin-right:-0.5rem;
    content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3Cpolygon stroke-width='5' points='10,10 60,40 10,70 20,40 10,10 ' strokeWidth='5' strokecolor='none' fill='%23FF0000' edge='76' orient='x' sides='3' shape='regularPoly' cy='0' cx='0'/%3E%3C/svg%3E");
  }
  &:hover::after{
    // better to change fill with CSS variable... but this works :-|
    content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70'%3E%3Cpolygon stroke-width='5' points='10,10 60,40 10,70 20,40 10,10 ' strokeWidth='5' strokecolor='none' fill='%23FFFFFF' edge='76' orient='x' sides='3' shape='regularPoly' cy='0' cx='0'/%3E%3C/svg%3E");
  }
}

.block h2:first-of-type {
    margin-top:0em;
}

.topic, footer {
  a {
    color: $link-color;
    border-bottom: .125em solid #ccc;
    padding: 0 0 .15em 0;
    display: inline;
    &:hover {
      background: $link-hover;
      border: 0;
      color: #fff !important;
    }
  }
  a sup {
    padding-left:0.2em;
    padding-right:0.5em;
  }
}

.footnote {
  margin-top:3em;
  border-top:1px solid #ddd;
  padding:1em 1em 1em 1.5em;
  text-indent:-2em;
  transition: background-color 1s;
  sup {
    padding:0.5em;
    border-radius:0.5em;
    margin-right:0.5em;
    transition: background-color 1s;
  }
  &.hilight {
    background-color:#ffffbb;
    sup {
      background: yellow;
    }
  }
}

time {
  color: #ccc;
  position: absolute;
  top: 0.75em;
  right: 0.75em;
}

hr {
  height: 1px;
  border: 0;
  background: #cccccc;
  margin: 50px 0;
}

pre {
  background: #f7f7f7;
  padding: 0 0.4em;
}

blockquote {
  position: relative;
  border: .1em solid #ddd;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  padding: 0 $spacing-unit;
  background: #f2f2f2;
  -webkit-box-shadow: 0 1px 4px #ccc, 0 5px 12px -8px #555;
  -moz-box-shadow: 0 1px 4px #ccc, 0 5px 12px -8px #555;
  box-shadow: 0 1px 4px #ccc, 0 5px 12px -8px #555;
}

table {
  td, th {
    border: 1px solid #ccc;
    padding: 0.5em 0.5em;
  }
  th {
    background-color: #666666;
    color: #ffffff;
  }
  tr:nth-child(odd) {
    background: #f3f3f3;
  }
}

.highlighter-rouge {
  border:1px solid #dddddd;
  background-color: #fffff0;
}

code,
kbd,
pre,
samp {
  font-family: "Source Code Pro", monospace, monospace;
  font-size: 1em;
}

h3 {
  margin-top:1.5em;
  padding-top:0.5em;
  border-top:1px solid #ddd;
}

.top-nav {
  float:right;
  margin-top: -$spacing-unit / 2;
  padding-top:1rem;
}

.key{
  margin: 0em 0 0.2em 0.1em;
  display: inline-block;
  background:red;
  padding:0.05em 0.05em 0.1em 0.1em;
  line-height:2em;
  border-radius:0.4em;
  background: rgb(162,161,161);
  background: linear-gradient(135deg, #555 0%, #555 44%, #000 52%);
  em {
    font-size:120%;
    font-style: normal;
    display:block;
    text-align:center;
    margin:0.1em 0.1em 0.1em 0.05em;
    background:black;
    color:white;
    border:2px solid #717171;
    padding:0 0.2em;
    border-radius:0.2em;
    line-height:1.5;
    min-width:1.2em;
    position:relative;
    sub {
      font-size:66%;
      bottom:0;
    }
    sup {
      position:absolute;
      top:0.5em;
      font-size:66%;
    }
    sup + sub {
      bottom:-0.2em;
    }
  }
  &.wide {
    background: linear-gradient(160deg, #555 0%, #555 44%, #000 52%);
    em {
     min-width:3.8em;
   }
  }
}


img.key-wide {max-width: 20em;}

.numberpad {
  display:inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:0.1em 0.2em;
  justify-content: start;
}
img.key {
  height:2.4em;
  vertical-align: middle;
  margin-right:0.2em;
}
img.enter-key {
  height:5em;
}
.not-too-wide {
  max-width:12em;
}
.inline-block {
  display:inline-block;
}
.center {
  text-align:center;
}
.right {
  text-align:right;;
}
.arrow-hint {
  color:#999;
  margin-top:1rem;
}
.key-dir-table {
  margin-top:1em;
}
.key-dir {
    width:2.5em;
}
#path-display {
  padding:1rem 0.5rem;
  border:2px solid #bb0000;
}
.js-only { display: none; }     /* display if JavaScript */
.js .js-only { display: block;} /* display if JavaScript */

.faint {
  opacity: 0.5;
}
.text-file {
  border:1px solid gray;
  padding: 0;
  background:black;
  color:white;
  font-family:monospace;
  font-size:1.5em;
  overflow:scroll;
}
.text-file > div {
  margin:0;
  padding:0;
  display:flex;
  flex-direction:row;
  flex-wrap:no-wrap;
  justify-content:left;
  align-items:top;
}
.text-file > div div{
  flex-basis:auto;
  margin:0;
  padding:0;
  margin:1px;
  border:1px solid #333;
  text-align:center;
  justify-content:flex-start;
  height:1.3em;
  width:1em;
  min-width:1em;
  position:relative;
}
.text-file > div div.invisible{
  color:#555;
}
.text-file > div div:hover, .text-file > div div.show-code{
  background-color:#444;
  color:#222;
}
.text-file > div div span{
  display:none;
  color:yellow;
  font-size:0.5em;
  position:absolute;
  top:0.1em;
  left:0.1em;
}  
.text-file > div div:hover span, .text-file > div div.show-code span{
  display:block;
}
.js .text-file > div div {
  cursor:pointer;
}
.cd-command-box {
  margin-bottom:-1.5em;
  display:grid;
  grid-template-columns: auto 2.6em;
  align-items: center;
  button {
    margin:0em;
    padding: 0.6em;
    background-color: #993333;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.2em 0.2em #00000066;
    color: #fff;
    &:hover {
      background-color: #006400;
    }
    &.hidden {
      visibility:hidden;
    }
  }
  span {
    transition: background-color 0.5s;
    padding:0.2em 0;
  }
  span.then {
    background: #ffee00;
  }
  span.then.now {
    background: #b00;
    color:white;
  }
}

.images-with-captions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
.images-with-captions img {
  max-width: 20em;
}
.images-with-captions strong {
  font-size:120%;
  font-weight:bold;
}

/* custom monkey-patch to stop logos getting ginormous */
#page-hardware-usb blockquote img{
  max-width:10em;
}
#page-hardware-wifi-and-bluetooth blockquote img{
  max-width:8em;
}

.github-link {
  text-align: center;
  a {
    padding-left:0.2em;
    padding-right:0.2em;
    line-height:2em;
    height:2em;
    img[alt="github"] {
      /* oh yes circle background to not crop the underline-border going on */
      background: radial-gradient(circle, white, white 68%, transparent 70%, transparent);
      vertical-align:middle;
    }
    &:hover img[alt="github"] {
      background: radial-gradient(circle, $link-hover, $link-hover 68%, transparent 70%, transparent);
    }
  }
}

