/*****************************************************************************/
/*
/* Responsive
/*
/*****************************************************************************/

@media (max-width: 50rem) {
  body {
    font-size: large;
  }
  .main-header,
  .main-content,
  footer {
    float: none;
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0;
    .block {
      margin: $spacing-unit/4;
    }
  }
  .main-header {
    background: $blue;
    margin:0;
    .block {
      margin:$spacing-unit/4;
      padding:0;
    }
    display: grid;
    grid-template-columns:1.5*$hamburger-width 1fr $hamburger-width;
    grid-gap: 0;
    #hamburger {
      display: block;
      text-align: center;
      grid-row: 1/2;
      grid-column: 3/4;
      padding-top:$spacing-unit/4;
      margin-top:0;
      margin-bottom:-$hamburger-width;
      width:$hamburger-width;
      z-index: 10; /* naughty */
      cursor:pointer;
      background-color: $blue;
      border-radius: 0.3em;
      max-height:$hamburger-width;
      &:hover {
        fill: white;
      }
    }
    nav {
      display: none;
    }
    input:checked ~ nav {
      background-color: $blue;
      display: block;
      grid-row: 1/2;
      grid-column: 1/3;
      ul {
        background-color: $blue;
        margin:0;
        padding: 0;
        li {
         display: block;
         margin: 0 0.2rem 0.2rem 0;
          a {
            width:100%;
            float: none;
            box-sizing: border-box;
            display: block;
          }
        }
      }
    }
    h1 {
      grid-row: 2/3;
      grid-column: 1/1;
      img {
        object-fit:cover;
      }
    }
    .description {
      grid-row: 2/3;
      grid-column: 2/4;
      padding: $spacing-unit/4 4rem $spacing-unit/4 $spacing-unit/2;
    }
  }
  
}

