---
layout: default
---
{% capture the_collection %}{{page.collection}}{% endcapture %}
{% if page.collection %}
  {% assign  document = site[the_collection] | sort: "order"  %}
{% endif %}

{% for links in document  %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}      
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
      {% assign nexttitle = next.title %}      
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<article class="topic block" id="page{{ page.id | replace: '/', '-'}}">
  <a class="top-nav" href="{{ site.baseurl }}/{{ page.collection }}/">{{ page.collection | replace: '-', ' ' | capitalize }}</a>
  <h2>{{ page.title }}</h2>
  {{ content }}
</article>
{% if prevurl or nexturl %}
  <div class="prev-next-nav block">
    {% if nexturl %}<a href="{{nexturl | prepend:site.baseurl }}" class="next" rel="next">{{ nexttitle }}</a>{% endif %}
    {% if prevurl %}<a href="{{prevurl | prepend:site.baseurl }}" class="prev" rel="prev">{{ prevtitle }}</a>{% endif %}
  </div>
{% endif %}
{% unless prevurl %}
  {% assign prevurl = page.collection | prepend: '/' %}
{% endunless %}
{% unless nexturl %}
  {% assign nexturl = page.collection | prepend: '/'%}
{% endunless %}
<script>
  document.body.onkeyup = function(e){
    {% if prevurl %} if (e.keyCode == '37') { window.location = '{{prevurl | prepend:site.baseurl }}'; }{% endif %}
    {% if nexturl %} if (e.keyCode == '39') { window.location = '{{nexturl | prepend:site.baseurl }}'; }{% endif %}
  };
</script>

