---
layout: default
---
<article class="block topic-index">
  <h2>{{ page.title }}</h2>  
  {{ content }}  
  <div class="topic-nav">
    <ul>
      {% assign sorted_topics = site[page.topic] | sort: "order" %}
      {% for topic in sorted_topics %}
        <li>
          <a href="{{ topic.url | prepend:site.baseurl }}">{{ topic.title }}</a>
        </li>
      {% endfor %} 
    </ul>
  </div>
  <div class="js-only right arrow-hint">
    next <a href="{{ sorted_topics[0].url | prepend:site.baseurl }}"><span class="key"><em>→</em></span></a>
  </div>
</article>

<script>
  document.body.onkeyup = function(e){
    if (e.keyCode == '39') { window.location = '{{sorted_topics[0].url | prepend:site.baseurl }}'; }
  };
</script>